body {
    background-color: hsl(30, 38%, 92%);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    margin-top: 1rem;
}

#product-img {
    height: 40%;
    width: 100%;
    border-radius: 7px;
}

#product-img .mobile-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#product-type {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 25px 0px 0px 25px;
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
}

#content h2 {
    margin: 16px 0px 0px 25px;
    font-size: 2rem;
}

#description {
    font-size: 16px;
    margin: 16px 8px 0px 25px;
    color: hsl(228, 12%, 48%);
    line-height: 20px;
}

#cost p{
    margin: 16px 0px 0px 25px;
    display: inline-block;
}

#reduced-cost {
    font-weight: 700;
    font-size: x-large;
    color: hsl(158, 36%, 37%);
}

#original-cost {
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
}

.strikethrough {
    text-decoration: line-through;
}

#buy-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

button {
    height: 2.5rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: white;
    padding: 5px 2rem 5px 2rem;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    box-shadow: none;
    border: none;
}

button:active {
    background-color: hsl(212, 21%, 14%);
}

button img {
    margin-right: 15px;
}

.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.fraunces-font {
    font-family: 'Fraunces', serif;
}

.desktop-img {
    display: none;
}

@media all and (min-width:600px) {
    #container {
        width: 60%;
    }
}

@media all and (min-width:750px) {
    #container {
        width: 50%;
    }
}

@media all and (min-width:1000px) {

    main{
        justify-content: center;
    }

    #container {
        height: 60%;
        width: 40%;
        flex-direction: row;
    }

    #product-img {
        width: 55%;
        height: 100%;
        border-radius: 7px;
    }

    #product-img .desktop-img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
    }

    #content {
        width: 55%;
        margin: 0;
        padding: 2rem 2rem 2rem 1rem;
        justify-content: space-around;
    }

    #product-type {
        margin-top: 0;
    }

    #content h2 {
        font-size: 1.8rem;
        line-height: 27px;
        margin-right: 10px;
    }

    .desktop-img {
        display: block;
    }

    .mobile-img {
        display: none;
    }

    button {
        width: 90%;
        margin-left: 25px;
    }
}